<main class="main">
    <section class="favoriteanimes">
        <h2 class="secondtitle">Animes favoritos</h2>
        <div class="displayfavs">
            <ul class="js-favorites favorites"></ul>
            <ul class="js-favsinlocal favsinlocal"></ul>
            <div class="js-resetdiv resetdiv">
                <button class="js-resetfavs resetfavs hidden">Reset favoritos</button>
            </div>
        </div>
    </section>
    <section class="results">
        <h2 class="secondtitle">Resultados</h2>
        <ul class="js-animelist animelist"></ul>
    </section>
</main>