body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  background: url('../images/totoro_pc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: rgb(155, 204, 128);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  padding: 0 10px;
  font-size: 20px;
}

input {
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  color: #5a8c73;
}

button {
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  padding: 5px 20px 5px;
  margin: 5px;
  background-image: linear-gradient(
    to right,
    rgb(155, 204, 128),
    rgb(112, 180, 157)
  );
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-image: linear-gradient(
    to left,
    rgb(111, 147, 92),
    rgb(85, 138, 120)
  );
}

ul {
  padding: 2px;
}

li {
  list-style: none;
  width: 150px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 10px 0 5px;
  background-color: #0a262fcb;
}

img {
  border-radius: 5px;
  height: 150px;
  width: 100px;
  object-fit: cover;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }

  form {
    flex-direction: row;
  }
  h2 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  li {
    cursor: pointer;
    width: 250px;
    border-radius: 5px;
    padding-top: 10px;
    margin: 0 15px 30px;
  }

  img {
    opacity: 0.9;
    height: 250px;
    width: 180px;
  }

  img:hover {
    opacity: 1;
  }
}
