.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5a8c73;
}

.title {
  text-shadow: rgb(155, 204, 128) 0 0 30px;
  text-align: center;
  font-size: 28px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.favoriteanimes {
  background-color: #0a262f93;
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: #5a8c73de;
  color: #0a262f;
  box-shadow: #5a8c73de 0 0 20px;

  & img {
    opacity: 1;
  }
}

.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //color: #0a262f;

  & h2 {
    color: #5a8c73;
  }
}

.favsinlocal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #0a262f;

  & h2 {
    color: #5a8c73;
  }
}

.resetdiv {
  display: flex;
  justify-content: center;
}

.resetfavs {
  margin-bottom: 20px;
  background-image: linear-gradient(
    to left,
    rgb(111, 147, 92),
    rgb(85, 138, 120)
  );
  width: 100px;
  border-radius: 10px;
}

.resetfavs:hover {
  background-image: linear-gradient(
    to right,
    rgb(155, 204, 128),
    rgb(112, 180, 157)
  );
}

.results {
  margin-top: 10px;
  background-color: #0a262f93;
  min-height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animetitle {
  font-size: 16px;
  text-align: center;
}

.deletebtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-image: linear-gradient(
    to left,
    rgb(111, 147, 92),
    rgb(85, 138, 120)
  );
}

.deletebtn:hover {
  background-image: linear-gradient(
    to right,
    rgb(155, 204, 128),
    rgb(112, 180, 157)
  );
}

.notselected {
  background-color: #0a262f93;
  color: #5a8c73de;
  box-shadow: none;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .title {
    font-size: 38px;
  }

  .favoriteanimes {
    min-height: 70vh;
    width: 40%;
    margin-right: 5px;
  }

  .results {
    margin-top: 0;
    margin-left: 5px;
    min-height: 70vh;
    width: 80%;
  }
}
