.hidden {
  display: none;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Kanit', sans-serif;
  background: url('../images/totoro_pc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: rgb(155, 204, 128);
}

button:hover {
  background-image: linear-gradient(
    to left,
    rgb(111, 147, 92),
    rgb(85, 138, 120)
  );
}

.favorites,
.favoritesinlocal,
.animelist {
  padding: 2px;
}

li {
  width: 150px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 10px 0 5px;
  background-color: #0a262fcb;
}

img {
  border-radius: 5px;
  height: 150px;
  width: 100px;
  object-fit: cover;
}

@include desktop {
  li {
    cursor: pointer;
    width: 250px;
    border-radius: 5px;
    padding-top: 10px;
    margin: 0 15px 30px;
  }

  img {
    opacity: 0.9;
    height: 250px;
    width: 180px;
  }

  img:hover {
    opacity: 1;
  }
}
